<nav>
    <div class="site-title">
        <a href="/"><h1>Home Base</h1></a>
    </div>
    <ul>
        <li><a href="/sensor-manager">Sensor Manager</a></li>
        <li><a href="/sensor-data">Sensor Data</a></li>
    </ul>
</nav>