<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo right">Home Base</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/guitars">Sensor Data</a></li>
        </ul>
    </div>
</nav>